.eightball-div {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  position: relative
}

.message-div {
  margin: auto;
  position: absolute;
  top: 2em; left: 0; bottom: 0; right: 0;
  color: white;
}